@page :first {
  margin-left: 50%;
  margin-top: 50%;
}

p { text-align: justify;
    font-family: arial, geneva, sans-serif;
    margin: .5em;
    padding: .2em;}
input:checked{
   height:10px;
   width:50px;
}
input:disabled{
    background:lightgray;
}
p:empty{
    background:black;
}
p:first-of-type{
  background:yellow;
}
input:enabled{
    background:lightgreen;
}
input:focus{
    background:lightblue;
}
p:last-of-type{
    background:green;
}
input:required{
    background:lightsalmon;
}
