.flexbox{
    width: 700px;
    height: 400px;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}
.flexbox > div{
    -webkit-transition: ls ease-out;
    transition: ls ease-out;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid black;
    width: 120px;
    margin: 10px -10px 10px 0px;
    padding: 20px 20px 20px 20px;
    box-shadow: 10px 10px 10px dimgrey;
}
.flexbox > div:nth-child(1){ background-color: lightblue; }
.flexbox > div:nth-child(2){ background-color: lightblue; }
.flexbox > div:nth-child(3){ background-color: lightblue; }
.flexbox > div:nth-child(4){ background-color: lightblue; }

.flexbox > div:hover {
    width: 200px; color: white; font-weight: bold; }
    .flexbox > div:nth-child(1):hover { background-color: royalblue; }
    .flexbox > div:nth-child(2):hover { background-color: crimson; }
    .flexbox > div:nth-child(3):hover { background-color: crimson; }
    .flexbox > div:nth-child(4):hover { background-color: darkgreen; }
    p { height: 250px; overflow: hidden; font-family: "Times New Roman" }