div { text-align: right;
    width: 50%;
    position: relative;
    left: 25%;
    border-width: 6px; }
    .thick { border-width: thick; }
    .medium { border-width: medium; }
    .thin { border-width: thin; }
    .solid { border-style: solid; }
    .double { border-style: double; }
    .groove { border-style: groove; }
    .ridge { border-style: ridge; }
    .dotted { border-style: dotted; }
    .inset { border-style: inset; }
    .outset { border-style: outset; }
    .dashed { border-style: dashed; }
    .yellow { border-color: yellow; }
    .red { border-color: red; }