body { background-image: url(zima.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightgrey;}
p#p3 { color: red; position: static; font-weight: bold; font-variant: normal;} 
p.p2 { color: darkcyan; position: relative; font-style: inherit; left: 30px;}
p.p1 {  position: static; line-height: 10px;}
p.p4 {  position: fixed; left: 100px;}
li p {
    font-family: cursive;
  }
div#container > ul {
    width: 120px;
    border: 1px solid black;
  }  
li:first-child{
  background:green;
}
li:last-child{
  background:lightblue;
}
:not(p){
  color:blue;
}
li:nth-child(3){
  background: yellow;
}
li:nth-last-child(5){
  background:darkmagenta;
}
p:only-child{
  background:darksalmon;
}
