
@font-face {
    font-family: 'McLaren';
    font-style: normal;
    font-weight: 400;
    src: local('McLaren'), local('McLaren-Regular'), url(https://fonts.gstatic.com/s/mclaren/v7/2EbnL-ZuAXFqZFXIeY8V8g2Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
body{
    font-family: "McLaren";
}

img#bl{
    position: relative;
    animation-name: obrazek;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

img#sq1{
    margin: 100px;
    -webkit-transition: -webkit-transform 4s;
    -moz-transition: -moz-transform 4s;
    -o-transition: -o-transform 4s;
    transition: transform 4s;
}
img#sq1:hover{
    -webkit-transform: rotate(360deg) scale(2, 2);
    -moz-transform: rotate(360deg) scale(2, 2);
    -o-transform: rotate(360deg) scale(2, 2);
    transform: rotate(360deg) scale(2, 2);
}
img#sq2{
    margin: 100px;
    -webkit-transition: -webkit-transform 4s;
    -moz-transition: -moz-transform 4s;
    -o-transition: -o-transform 4s;
    transition: transform 4s;
}
img#sq2:hover{
    -webkit-transform: skewY(45deg) scale(2, 2); /* analogicznie skewX() */
    -moz-transform: skewY(45deg) scale(2, 2);
    -o-transform: skewY(45deg) scale(2, 2);
    transform: skewY(45deg) scale(2, 2);
}
img#sq3{
    margin: 100px;
    -webkit-transition: -webkit-transform 4s;
    -moz-transition: -moz-transform 4s;
    -o-transition: -o-transform 4s;
    transition: transform 4s;
}
img#sq3:hover{
    -webkit-transform: translate(360px, 0) scale(2, 2);
    -moz-transform: translate(360px, 0) scale(2, 2);
    -o-transform: translate(360px, 0) scale(2, 2);
    transform: translate(360px, 0) scale(2, 2);
}



/*webkit - stary chrome, safari i opera
moz - stara mozilla, 
o - stara opera*/


@-webkit-keyframes obrazek{
    0% {opacity: 0; left: 0px; top: 0px;}
    25% {opacity: 1; left: 50px; top: 0px;}
    50% {opacity: 0; left: 100px; top: 0px;}
    75% {opacity: 1; left: 50px; top: 0px;}
    100% {opacity: 0; left: 0px; top: 0px;}
}

@-moz-keyframes obrazek{
    0% {opacity: 0; left: 0px; top: 0px;}
    25% {opacity: 1; left: 50px; top: 0px;}
    50% {opacity: 0; left: 100px; top: 0px;}
    75% {opacity: 1; left: 50px; top: 0px;}
    100% {opacity: 0; left: 0px; top: 0px;}
}

@keyframes obrazek{
    0% {opacity: 0; left: 0px; top: 0px;}
    25% {opacity: 1; left: 50px; top: 0px;}
    50% {opacity: 0; left: 100px; top: 0px;}
    75% {opacity: 1; left: 50px; top: 0px;}
    100% {opacity: 0; left: 0px; top: 0px;}
}

p#p {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 4s;
  }
  

  @-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }