p{
    margin : 0.9em 0em;
}

@media handheld and (max-width: 480px),
    screen and (max-device-width: 480px),
    screen and (max-width: 480px)
{
    div{
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px){
    div{
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px outset black;
    column-rule: 1px outset black; }
}

@media only screen and (min-width: 1025px)
{
    div{
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 30px;
        column-gap: 30px;
        -webkit-column-rule: 1px outset black;
        column-rule: 1px outset black; }
}