div{
  border: 3px solid navy;
  background: lightgreen;
  height:100px;
  width:200px;
  border-radius:15px;
  text-align: center;
  text-shadow: 10px -10px 10px black;
  margin-bottom: 20px;
  padding: 5px 20px;
}
#round{
  border-radius:120px;
  height:40px;
}
#box{
  box-shadow: 10px -10px 40px black;
}
#gradient{
  background:-webkit-gradient(linear,left top,right bottom,color-stop(0%,white),color-stop(40%,lightblue),color-stop(75%,navy)0);
  background:-moz-linear-gradient(top left,white 0%,lightblue 40%,navy 75%);
  background:linear-gradient(45deg,white 0%,lightblue 40%,navy 75%);
}
#grad{
  background:-webkit-radial-gradient(center,red,yellow, green);
  background:-moz-radial-gradient(center,red,yellow, green);
  background:radial-gradient(center,red,yellow, green);
}
div.background{
  background-image: url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg), url(https://d-art.ppstatic.pl/kadry/k/r/1/27/15/5d95ffd29a705_o_large.jpg);
  background-position: bottom center, top left;
  background-origin: padding-box, padding-box;
  background-repeat: no-repeat, no-repeat; 
}/*
div.stretch{
  border-width:200px;
  width: 200px;
  padding: 20px 20px;
  -webkit-border-image: url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg) 40 90 40 90 stretch;
  -moz-border-image: url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg) 40 90 40 90 stretch;
  -o-border-image: url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg) 40 90 40 90 stretch;
  border-image: url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg) 40 90 40 90 stretch;
}
div.repeat{
  border-width:200px;
  width: 200px;
  padding: 20px 20px;
  -webkit-border-image:url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg)25% 75% repeat;
  -moz-border-image:url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg)25% 75% repeat;
  -o-border-image:url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg)25% 75% repeat;
  border-image:url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg)25% 75% repeat;
}*/
div.sourcerepeat{
  border-width:200px;
  width: 800px;
  padding: 20px 20px;
  border-image-source: url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg);
  border-image-slice: 40%;
  border-image-repeat: repeat;
}
div.sourcestretch{
  border-width:200px;
  width: 400px;
  padding: 20px 20px;
  border-image-source: url(https://www.koolbadges.co.uk/images/thumbnails/Handsome-Festive-Snowman-Badge-200x200.jpg);
  border-image-slice: 40%;
  border-image-repeat: stretch;
}