@media all{
p { text-align: justify;
    font-family: verdana, geneva, sans-serif;
    margin: .5em;
    padding: .2em;}
}
@media only screen and (min-width:1100px){
    p { text-align: justify;
        font-family: arial, geneva, sans-serif;
        margin: .5em;
        padding: .2em;}
    td{
        border-width: 2pt;
        border-style: solid;
        border-color: black;
    }
}
div{
    border: 3px solid navy;
    background: lightgreen;
    height:100px;
    width:200px;
    border-radius:15px;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px 20px;
  }
  #round{
    border-radius:120px;
    height:40px;
  }
  #box{
    box-shadow: 10px -10px 40px black;
  }
:target{
  border: 2px solid black;
  background-color: lightgray;
}
nav ul{
    display: none;
    list-style:none;
    margin: 0;
    padding: 0;
}
nav:hover ul.first{
    display: block;
}
li.rozwijana1{
    font-weight:bold;
}
li.rozwijana2{
    font-weight:bold;
}
li.rozwijana1:hover ul.second{
    display: block;
}
li.rozwijana2:hover ul.third{
    display: block;
}
nav ul.first li{
    border: 2px solid black;
    background-color:lightgray;
    width: 200px;
    color:black;
}
nav:hover ul li{
    display:block;
    background-color:lightblue;
}
p.p {
    width: 150px;
    height: 50px;
    text-align: right;
    position: fixed;
    left: 500px;
    right: 50px;
    top: 5px;
    bottom: 100px;
}
a {
    color:blue;
}
a:link{
    color:blue;
}
a:visited{
    color: darkslategray;
}
a:hover{
    font-weight:bold;
    color:black;
}
a:active{
    color:red;
}
img#zdj{
    float: left;
}
section#3{
    clear: left;
}
table{
    text-align:center;
    border-width: 1pt;
    border-style: dotted;
    border-color: red;
}
table.blue{
    border-width: 3pt;
    border-style: solid;
    border-color: blue;
}
table.blue th{
    border-width: 2pt;
    border-bottom-style: solid;
    border-color: orange;
}
table.blue td{
    border-width: 1pt;
    border-bottom-style: solid;
    border-color: black;
}
td.blue{
    font-weight:bold;
}

