﻿@model WebApplication1.Models.Movie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<section id="1">
    <nav>
        <h3 style="font-size:20pt; background-color:darkturquoise; width:200px; text-align:center;">Menu</h3>
        <ul class="first">
            <li><a href="http://localhost:91/WebForm1.aspx">Formularz</a></li>
            <li><a href="http://localhost:91/Info/Info">Info</a></li>
            <li class="rozwijana1">
                Rozwijanie
                <ul class="second">
                    <li>--Opcja 6.1</li>
                    <li class="rozwijana2">
                        --Opcja 6.2 Rozwijana
                        <ul class="third">
                            <li>----Opcja 6.2.1</li>
                            <li>----Opcja 6.2.2</li>
                            <li>----Opcja 6.2.3</li>
                            <li>----Opcja 6.2.4</li>
                        </ul>
                    </li>
                    <li>--Opcja 6.3</li>
                    <li>--Opcja 6.4</li>
                </ul>
            </li>
        </ul>
    </nav>
</section>
<section id="2">
    <h3>Szybka nawigacja po stronie: (Sekcja 2)</h3>
    <p class="p"><strong>Donate:<a href="http://www.google.com">$</a></strong></p>
    <p>Akapit 2
  
    </p>
    <p>Rownanie dla znakow specjalnych: x&lt;2 & x>-3<sup>3</sup> </p>

</section>
<section id="3">
    <h3>Listy i tabele (sekcja 3)</h3>
    <ul>
        <li>Nienumerowana</li>
        <li>
            Punkt 2
            <details>
                <summary>Zagnieżdzenie listy</summary>
                <ul>
                    <li>Zagniezdzona</li>
                    <li>
                        Numerowana
                        <ol>
                            <li>Punkt</li>
                            <li>Punkt</li>
                            <li>Punkt</li>
                            <li>Punkt</li>
                        </ol>
                    </li>
                </ul>
            </details>
        </li>
        <li>Po zagniezdzeniu</li>
    </ul>
    <section id="4">
        <div id="round">Przykladowy tekst ukazujacy zaokraglenie</div>
        <h3 style="text-shadow: 1px 1px #5dc92c;">Tabele (sekcja 4 zagnieżdzona)</h3>
        <table>
            <caption>Tablica ocen</caption>
            <thead>
                <tr style="color:rgba(231, 20, 20, 1)">
                    <th>Imie</th>
                    <th>Ocena</th>
                </tr>
            </thead>
            <tbody>
                <tr style="color:rgba(231, 20, 20, 0.8)">
                    <td>Marek</td>
                    <td>3.0</td>
                </tr>
                <tr style="color:rgba(231, 20, 20, 0.6)">
                    <td>Adrian</td>
                    <td>4.5</td>
                </tr>
                <tr style="color:rgba(231, 20, 20, 0.4)">
                    <td>Sylwia</td>
                    <td>4.5</td>
                </tr>
                <tr style="color:rgba(231, 20, 20, 0.2)">
                    <td>Karina</td>
                    <td>4.0</td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="color:rgba(231, 20, 20, 0)">
                    <td class="blue">Srednia</td>
                    <td class="blue">4.0</td>
                </tr>
            </tfoot>
        </table>
        <table class="blue">
            <caption>Tablica przyklad</caption>
            <thead>
                <tr style="color:hsla(0, 100%, 50%)">
                    <th>Numeracja</th>
                    <th colspan="2">Imie i nazwisko</th>
                    <th>Ocena</th>
                </tr>
            </thead>
            <tbody>
                <tr style="color:hsla(120, 100%, 50%)">
                    <td class="blue">1</td>
                    <td>Marek</td>
                    <td>Kowalski</td>
                    <td>3.0</td>
                </tr>
                <tr style="color:hsla(240, 100%, 50%)">
                    <td class="blue">2</td>
                    <td>Adrian</td>
                    <td>Abacki</td>
                    <td>4.5</td>
                </tr>
                <tr style="color:hsla(0, 66%, 50%)">
                    <td class="blue">3</td>
                    <td>Sylwia</td>
                    <td>Bbacka</td>
                    <td>4.5</td>
                </tr>
                <tr style="color:hsla(0, 33%, 50%)">
                    <td class="blue">4</td>
                    <td>Karina</td>
                    <td>Cbacka</td>
                    <td>4.0</td>
                </tr>
                <tr style="color:hsla(0, 100%, 33%)">
                    <td class="blue" rowspan="2">5</td>
                    <td rowspan="2">Kordian</td>
                    <td rowspan="2">Dbacki</td>
                    <td>4.5</td>
                </tr>
                <tr style="color:hsla(0, 100%, 66%)">
                    <td>3.5</td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="color:hsla(0, 100%, 100%)">
                    <td class="blue" colspan="3">Srednia</td>
                    <td class="blue">4.0</td>
                </tr>
            </tfoot>
        </table>
    </section>
</section>